/*public/style.css*/

/*importing font:*/ @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400&family=Montserrat:wght@400&family=Open+Sans:wght@400&display=swap');

body {
  /* background-color: blueviolet; */
  font-family: 'Helvetica', Sans-Serif;
}

h1 {
  margin: 0;
  letter-spacing: 2px;
}

h2 {
  margin: 0;
  font-family: 'Death Star', sans-serif;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}



/*Pattern animation--------------------------------------------------------------------------------------------*/
body::before {
  --size: 150vmax;
  --bg-size: 50%;
  --pattern-opacity: 1;

  content: "";
  position: fixed; /* Make sure it covers the whole background */
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
  opacity: var(--pattern-opacity);
  background-color: #000435;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='hotpink'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: var(--bg-size);
  background-repeat: repeat;
  animation: pattern 20s linear infinite;
  z-index: -1; /* Make sure it stays in the background */
}

@keyframes pattern {
  to {
    background-position: calc(var(--size) * -1) calc(var(--size) * -1);
  }
}


/*Content block styling-------------------------------------------------------------------------*/
#question-block {
  display: flex;
  flex-direction: column;
  width: 50rem;
  height: 100%;
  background-color: #C1FF69;
  border-radius: 20px;
  border: 10px solid #C1FF69;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-family: 'Bebas Neue', sans-serif;
}

#border-inner-container {
  border-radius: 10px;
  border: 20px solid darkblue;
  background-color: darkblue;
}

/*Question styling--------------------------------------------------------------------------------*/
#question-container-row {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #C1FF69;
}


/*Answers styling--------------------------------------------------------------------------------*/
#answer-container-row {
  display: flex;
  justify-content: center;
  align-items: center;  /* Center items vertically */
  height: auto;
  width: 100%;
}

#answers-list {
  text-align: left;
  list-style: none;
  margin: 0px;
}

#answers-list button {
  background: transparent;
  border: none;
  display: block;
  font-family: 'Lato', sans-serif;
}

.answer, #score {
  color: white;
}

.answer {
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
}

#answers-list .answer.correct {
  background-color: green;
}

#answers-list .answer.incorrect {
  background-color: red;
}

/*Score----------------------------------------------------------------------------------------*/
#score {
  display: flex;
  justify-content: right;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
}

/* finalPage elements */
#comment {
  display: flex;
  justify-content:center;
  font-family: 'Death Star', sans-serif;
  margin-top: 0;
  color: #C1FF69;
  letter-spacing: 2px;
}
#finalScore {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0;
  color: #C1FF69;
}

/*Navigation buttons styling----------------------------------------------------------------------*/
.action-button {
  /*resetting the default button styling*/
  background: #C1FF69;
  border: none;
  /*------------------------------------*/

  border-radius: 10px;
  height: 40px;
  width: 150px;

  margin: 5px;
  padding: 0;
}



.hidden {
  display: none;
}

/* Welcome Page */

.welcome-page {
  display: flex;
  flex-direction: column;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly; 
  background-image: url("https://i.ibb.co/Pz3Cp3p/science-fiction.jpg") ; 

  border: 4px solid;
  border-radius: 10px;
  margin: 0 auto;
  height: 50vh;
  width: 50vw;
  margin-bottom: 50px;
}

.heading {
  color: #C1FF69;
  font-family:'Death Star', sans-serif;
  font-size: 2.8rem;
}

.group-name {
 display: block;
 font-size: 1.5rem;
 font-family: poppins,sans-serif;
 color: #C1FF69;
 margin:5px;
}

.name-label {
  font-family: poppins,sans-serif;
  font-size: 1.25rem;
  color: whitesmoke;
}

.name-input {
  width: 180px;
  height: 40px;
  border: 4px solid;
  border-radius: 15px;
  text-align: center;  
  font-family: poppins,sans-serif;
  font-size: 1.15rem;
  font-weight: bold;
}

.start {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

/*.button-style-start {*/
/*  font-family: poppins,sans-serif;*/
/*  font-size: 1rem;*/
/*  font-weight: bold;*/
/*  color: rgb(212, 209, 209);   */
/*  background-color: #050607;*/
/*  box-sizing: border-box;  */
/*  padding: 1.2rem 2.4rem;*/
/*  border-radius: 15px;*/
/*  border: 3px solid ;*/
/*  margin: 2rem;*/
/*  cursor: pointer;*/
/*}*/

/*.button-style-start:hover {*/
/*  color: black;*/
/*  transform: scale(1.02);*/
/*  background-color: rgb(151, 111, 27);*/
/*}*/


